[Desktop Entry]
Name=ClaiDesk
GenericName=Remote Desktop
Comment=LAN/VPN Remote Desktop
Exec=claildesk %u
Icon=claildesk
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=lan;vpn;linux;dart;rust;remote-control;rust-lang;rdp;remote-desktop;vnc;
Actions=new-window;
StartupWMClass=claildesk

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=claildesk %u
