[Desktop Entry]
Name=ClaiDesk
NoDisplay=true
MimeType=x-scheme-handler/claildesk;
TryExec=claildesk
Exec=claildesk %u
Icon=claildesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=claildesk
