[Desktop Entry]
Name=ClaiDesk
NoDisplay=true
MimeType=x-scheme-handler/claildesk;
TryExec=rustdesk
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
